<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

<head th:fragment="head">
    <title>Plan Paciente</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" href="/images/favicon.ico">
</head>

<header th:fragment="header">
    <img src="/images/header.jpg" style="width:100%; display:block;">
</header>

<nav th:fragment="nav">
    <ul class="Menu">
        <th:block sec:authorize="isAuthenticated()">
            <li>
                <a sec:authentication="name"></a>
                <ul>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </li>
        </th:block>
    </ul>
</nav>

<footer th:fragment="footer">
    <div>Todos los derechos reservados · 2026 · TotalSoft Inc. info@tsinc.com</div>
</footer>

</html>